.main {
    margin: 100px 300px;
}

#cuadrado {
    background-color: #ff0000;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 40vw;
    top: 30vw;
/*    transition: left;*/
}


